<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProjectTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ProjectTracker.DexpotSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ProjectTracker.WorktrackerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <ProjectTracker.DexpotSettings>
      <setting name="desktopToProjectName" serializeAs="Xml">
        <value>
          <Dictionary>
            <item>
              <key>
                <string>1</string>
              </key>
              <value>
                <string>PS cust</string>
              </value>
            </item>
            <item>
              <key>
                <string>6</string>
              </key>
              <value>
                <string>PS adm</string>
              </value>
            </item>
            <item>
              <key>
                <string>2</string>
              </key>
              <value>
                <string>KB</string>
              </value>
            </item>
            <item>
              <key>
                <string>3</string>
              </key>
              <value>
                <string>Nix</string>
              </value>
            </item>
            <item>
              <key>
                <string>4</string>
              </key>
              <value>
                <string>AgD</string>
              </value>
            </item>
            <item>
              <key>
                <string>5</string>
              </key>
              <value>
                <string>SalesF</string>
              </value>
            </item>
          </Dictionary>
        </value>
      </setting>
    </ProjectTracker.DexpotSettings>
    <ProjectTracker.WorktrackerSettings>
      <setting name="projectToWorktrackerProject" serializeAs="Xml">
        <value>
          <Dictionary>
            <item>
              <key>
                <string>PS cust</string>
              </key>
              <value>
                <string>PS-Customer</string>
              </value>
            </item>
            <item>
              <key>
                <string>PS adm</string>
              </key>
              <value>
                <string>PS-Admin</string>
              </value>
            </item>
            <item>
              <key>
                <string>KB</string>
              </key>
              <value>
                <string>PS-Sideproject</string>
              </value>
            </item>
            <item>
              <key>
                <string>AgD</string>
              </key>
              <value>
                <string>PS-Sideproject</string>
              </value>
            </item>
            <item>
              <key>
                <string>Nix</string>
              </key>
              <value>
                <string>PS-Sideproject</string>
              </value>
            </item>
            <item>
              <key>
                <string>SalesF</string>
              </key>
              <value>
                <string>Projectmanagement</string>
              </value>
            </item>
          </Dictionary>
        </value>
      </setting>
    </ProjectTracker.WorktrackerSettings>
    <ProjectTracker.Properties.Settings>
      <setting name="WorktimebreakLeftSecs" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="countAsWorktimebreakMins" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="carryOverWorktimeCountHours" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="lastAppExit" serializeAs="String">
        <value />
      </setting>
      <setting name="flagFinishWTDay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="flagAutoFinishWT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="maxWorktime" serializeAs="String">
        <value>10:00</value>
      </setting>
      <setting name="flagConsiderOvertime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="timeularAPIkey" serializeAs="String">
        <value />
      </setting>
      <setting name="timeularAPIsecret" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputCsvFilePath" serializeAs="String">
        <value>C:\Users\georg.kapeller\source\repos\projectTracker\ProjectTracker\bin\Debug\DesktopTimes.csv</value>
      </setting>
      <setting name="DexbotLogFilePath" serializeAs="String">
        <value>C:\Users\Georg\AppData\Roaming\Dexpot\dexpot.log</value>
      </setting>
      <setting name="AvailableProjects" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Orga</string>
            <string>Strategy</string>
            <string>People</string>
            <string>Other</string>
          </ArrayOfString>
        </value>
      </setting>
    </ProjectTracker.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
