<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="OutputCsvFilePath" value="C:\Users\Georg\Documents\DesktopTimes.csv"/>
    <add key="DexbotLogFilePath" value="C:\Users\Georg\AppData\Roaming\Dexpot\dexpot.log"/>
  </appSettings>
</configuration>