<?xml version='1.0' encoding='utf-8'?>
<SettingsFile xmlns="http://schemas.microsoft.com/VisualStudio/2004/01/settings" CurrentProfile="(Default)" GeneratedClassNamespace="DexbotTimetracker2" GeneratedClassName="MainSettings">
  <Profiles />
  <Settings>
    <Setting Name="DexbotLogFilePath" Type="System.String" Scope="Application">
      <Value Profile="(Default)">C:\Users\Georg\AppData\Roaming\Dexpot\dexpot.log</Value>
    </Setting>
    <Setting Name="OutputCsvFilePath" Type="System.String" Scope="User">
      <Value Profile="(Default)">C:\Users\Georg\Documents\DesktopTimes.csv</Value>
    </Setting>
  </Settings>
</SettingsFile>